body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #e6d3d3;
  font-family: "Poppins", sans-serif;
}
.top-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}
.top-menu h3 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  color: #000000;
  text-transform: uppercase;
}
.battery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.battery span {
  font-size: 14px;
  font-weight: 600;
  margin-right: 3px;
}
.battery img {
  width: 20px;
}
.card {
  width: 300px;
  height: 550px;
  background-color: rgba(249, 250, 242, 0.452);
  border: 1px solid #f2f5fa;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrap {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 100%;
  margin-top: -30px;
}
.minute,
.hour {
  position: absolute;
  height: 100px;
  width: 6px;
  margin: auto;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  transform-origin: bottom center;
  transform: rotate(0deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.minute {
  position: absolute;
  height: 130px;
  width: 4px;
  top: -38%;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
}
.second {
  position: absolute;
  height: 90px;
  width: 2px;
  margin: auto;
  top: -26%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: #ff4b3e;
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;
}
.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  margin: auto;
  z-index: 1;
}
.timing {
  text-align: center;
}
.timing span {
  font-size: 60px;
  font-family: "Roboto Condensed", sans-serif;
}
.timing p {
  margin-top: 2px;
}
