@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
}

.text{
    position: relative;
    transform: rotate(calc(-0.1deg * 100));
}

.text .txtBox{
     cursor: pointer; 
    position: absolute;
    font-size: 7vw;
    color: #fff;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    user-select: none  ;
    text-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.text .txtBox span{
    color: #f00;
    margin: 0 10px;
}
