@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h2 {
  font-size: 6em;
  color: #fff;
  font-weight: 500;
}

section .scroll
{       

  width: 200px;
   /* filter: invert(1); */
   transition: 0.5s;
     /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



/* ----------------------------------------------------------------------------------------------------------------------- */
.box {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  align-items: center;
}

.word1
{
  color: red;
}
.box h2 {
  font-size: 3em;
}
.box .logo {
  top: 250px;
  right: 400px;
  position: absolute;
  max-width: 800px;
 transition: 0.5s;
     /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* ------------------------------------- */
.box2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: #000;
}

.box2 h2 {
  font-size: 3em;
  color: #fff;
}


/* /////////////////////////////////    Scroll bar     /////////////////////////////////////// */
#scrollpath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);    
    
}

#progressbar
{   z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    /* height: 50%; */
    background: linear-gradient(to top,#008aff,#00ffe7);
    animation: animate 5s linear infinite;
}

#progressbar::before,
#progressbar::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(10px);
}

#progressbar::after
{
    filter: blur(30px);
}

@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}


::-webkit-scrollbar
{
    width: 0;
}

#percent
{
    z-index: 1;
    font-weight: 600;
    position: fixed;
    top: 50%;
    transform: translate(-50%) rotateX(180deg) rotateY(180deg);
    right: 15px;
    color: rgb(255, 0, 0);
    font-size: 1.2em;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}
/* ---------------------------------------------------------------------------------------------------------------------- */