@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}
.hd-accordion {
  height: 90vh;
  display: flex;
}
.item {
  position: relative;
  z-index: 1;
  flex: 1;
  transition: 0.6s cubic-bezier(0.69, 0.01, 0.25, 1);
  background-color: black;
  display: flex;
}
.item:hover,
.item.is-active {
  flex-grow: 2;
}
.item:hover .content,
.item.is-active .content {
  opacity: 1;
}
.item:hover .content .profile,
.item.is-active .content .profile {
  transform: translateY(0);
  opacity: 1;
}
.bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: top center;
  transition: 0.3s ease;
}
.content {
  display: flex;
  flex: 1;
  background-color: white;
  opacity: 0;
  transition: 0.3s ease;
  justify-content: center;
}
.profile {
  transition: 0.6s cubic-bezier(0.69, 0.01, 0.25, 1);
  transition-delay: 0.3s;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
  padding: 20px;
  opacity: 0;
  transform: translateY(70px);
}
.profile img {
  align-self: center;
  border-radius: 50%;
}
