* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #f34612
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
}

.container .card {
    height: 300px;
    width: 500px;
    background: #eee;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    position: relative;
    transition: transform .3s ease;
    z-index: 0;
}

.container .card .letter form {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
    z-index: -1;
    width: 80%;
}

.container .card .letter form img {
    height: 100px;
    width: 350px;
    margin: 5px 0;
    object-fit: cover;
}

.container .card .letter form h3 {
    font-size: 17px;
    color: #999;
    padding: 10px;
    text-transform: uppercase;
}

.container .card .letter form .inputBox {
    display: flex;
    border-radius: 50px;
    margin: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-color);
}

.container .card .letter form .inputBox input[type="email"] {
    height: 40px;
    width: 100%;
    font-size: 17px;
    color: #444;
    padding: 0 10px;
    text-align: center;
    text-transform: none;
}

.container .card .letter form .inputBox input[type="email"]::placeholder {
    text-transform: capitalize;
}

.container .card .letter form .inputBox input[type="submit"] {
    font-size: 17px;
    color: #fff;
    background: var(--primary-color);
    height: 40px;
    width: 170px;
    cursor: pointer;
}

.container .card::before,
.container .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container .card::before {
    background: #f9f9f9;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.container .card::after {
    background: #ccc;
    clip-path: polygon(0 0, 50% 50%, 100% 0);
    transition: transform .2s ease-out;
    transition-delay: .3s;
    transform-origin: top;
}

.container .card:hover::after {
    transform: rotateX(180deg);
    transition-delay: .0s;
    z-index: -2;
}

.container .card:hover .letter form {
    top: -175px;
    transition: top .2s linear;
    transition-delay: .3s;
}

.container .card:hover {
    transform: translateY(70px);
}
