@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

.container{
    width: 1000px;
    height: 400px;
    background: #ccc;
    margin: 120px auto;
    display: flex;
}
.col{
    height: 100%;
    flex: 1;
    color: #fff;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    transition: 0.6s;
}
.col:nth-child(1){
    background:#283491;
}
.col:nth-child(2){
    background:#f18684;
}
.col:nth-child(3){
    background:#6ee2f1;
}

h2{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.caption{
    max-width: 230px;
    font-size: 12px;
    margin: 28px 0;
    display: none;
}
.caption button{
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    padding: 8px 18px;
    color: #fff;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.4s;
}

.caption button:hover{
    background: #fff;
    color: #000;
}
.col img{
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.col:hover{
    flex-grow: 2;
}
.col:hover .caption{
    display: block;
}

.col:hover h2{
    text-align: left;
}
