
/* overall style */
*{
  margin:0; padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  text-transform: capitalize;
  transition: all .4s cubic-bezier(.26,1.24,.82,1.46);
}

/* body of main container */
.card-container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#ddd;
  overflow: hidden;
  padding-bottom: 70px;
}

.card{
  width: 350px;
  height: 300px;
  background: #fff;
  box-shadow: 0 5px 10px #bbb;
  text-align: center;
  position: relative;
  z-index: 0;
}

.card:hover{
  height: 550px;
}

.card .image img{
  height: 300px;
  filter: drop-shadow(5px 5px 5px #333);
}

.card:hover .image img{
  transform: scale(1.1) rotate(45deg);
}

.card::before{
  content: '';
  position: absolute;
  top:0; left: 0;
  height: 100%;
  width: 100%;
  background:	#C0C0C0;
  z-index: -1;
  clip-path: circle(50% at 70% 18%);
  transition: .2s linear;
}

.card:hover::before{
  clip-path: circle(47.9% at 85% 0);
}

.card .content{
  transform: translateY(100px);
  opacity: 0;
}

.card:hover .content{
  transform: translateY(0px);
  opacity: 1;
}

.card .content .title{
  font-size: 30px;
  color:#666;
}

.card .content .size{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px 0;
  list-style: none;
}

.card .content .size span{
  font-size: 20px;
  color:#666;
}

.card .content .size li{
  font-size: 17px;
  color:#111;
  background:#ccc;
  margin:10px;
  padding:6px 10px;
  cursor: pointer;
}

.card .content .size li.active{
  background:#333;
  color:#fff;
}

.card .content .price{
  color:#333;
  padding:16px 0;
  font-size: 28px;
  font-weight: bold;
}

.card .content .price span{
  font-size: 17px;
  font-weight: normal;
  text-decoration:line-through;
}

.card .content .btn{
  height: 40px;
  width: 160px;
  margin:10px 0;
  border:none;
  outline: none;
  color:#fff;
  background:#BF2227;
  font-size: 17px;
  cursor: pointer;
}

.card .content .btn:hover{
  opacity: .9;
  letter-spacing: 2px;
  width: 180px;
}

.card .icons{
  position: absolute;
  top:50%; left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  flex-flow: column;
  padding:17px 5px;
  background:#fff;
  clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0% 50%);
  border-right: 2px solid #3333;
  opacity: 0;
}

.card .icons a{
  margin:20px 13px;
  padding-left: 15px;
  font-size: 23px;
  color:#999;
  text-decoration: none;
}

/* .card .icons a:hover{
  color:#333;
} */
.card .icons .fa-heart:hover{
  color: #f00;
}

.card .icons .fa-share:hover{
  color: #0f0;
}

.card .icons .fa-search:hover{
  color: #00f;
}

.card:hover .icons{
  left: -76px;
  opacity: 1;
}

.card .colors{
  position: absolute;
  top:50%; right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  flex-flow: column;
  background:#fff;
  padding:5px;
  padding-right: 17px;
  clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  border-left: 2px solid #3333;
  opacity: 0;
}

.card:hover .colors{
  right: -79px;
  opacity: 1;
}

.card .colors span{
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  margin:8px 15px;
  cursor: pointer;
  box-shadow: 0 3px 5px #999;
}

.card .colors span.active{
  box-shadow: 0 0 0 6px #3333;
}