@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli";
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.netflix-text {
  text-transform: uppercase;
}

.netflix-nav-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.netflix-open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.netflix-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.netflix-nav.visible {
  transform: translateX(0);
}

.netflix-nav-black {
  background-color: rgb(34, 31, 31);
  width: 60%;
  max-width: 480px;
  min-width: 320px;
  transition-delay: 0.4s;
}

.netflix-nav-black.visible {
  transition-delay: 0s;
}

.netflix-nav-red {
  background-color: rgb(229, 9, 20);
  transition-delay: 0.2s;
  width: 95%;
}

.netflix-nav-red.visible {
  transition-delay: 0.2s;
}

.netflix-nav-white {
  background-color: #fff;
  padding: 40px;
  position: relative;
  transition-delay: 0s;
  width: 95%;
}

.netflix-nav-white.visible {
  transition-delay: 0.4s;
}

.netflix-close-btn {
  opacity: 0.3;
  position: absolute;
  top: 40px;
  right: 30px;
}

.netflix-logo {
  width: 150px;
}

.netflix-list {
  list-style-type: none;
  padding: 0;
}

.netflix-list li {
  margin: 20px 0;
}

.netflix-list li a {
  color: rgb(34, 31, 31);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.netflix-list ul {
  list-style-type: none;
  padding-left: 20px;
}

/* Social Panel Styles */
.social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
  transform: translateX(-10px);
}

.social-panel {
  border-radius: 16px;
  box-shadow: 0 16px 31px -17px rgb(229, 9, 20);
  border: 5px solid rgb(229, 9, 20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Muli";
  position: relative;
  height: 169px;
  width: 370px;
  max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
  border: 0;
  color: #000000;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.social-panel button.close-btn:focus {
  outline: none;
}

.social-panel p {
  background-color: rgb(0, 0, 0);
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 17px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  text-align: center;
  width: 235px;
}

.social-panel p i {
  margin: 0 5px;
}

.social-panel p a {
  color: #ff7500;
  text-decoration: none;
}

.social-panel h4 {
  margin: 20px 0;
  color: #97a5ce;
  font-family: "Muli";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.social-panel ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-panel ul li {
  margin: 0 10px;
}

.social-panel ul li a {
  border: 1px solid #777777;
  border-radius: 50%;
  color: rgb(229, 9, 20);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.social-panel ul li a:hover {
  border-color: #ff6a00;
  box-shadow: 0 9px 12px -9px #ff6a00;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: rgb(229, 9, 20);
  border: 1px solid rgb(229, 9, 20);
  box-shadow: 0 16px 22px -17px rgb(229, 9, 20);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: rgb(229, 9, 20);
}

.floating-btn:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}
